#LANCA_DIRETOS_PRI_SETOR
{
	
	
	.Cgtooltip
	
	{
	
		  
	
	  background-color: #ffffd8;
	
	  font-family: arial;
	
	  font-size: 11px;
	
	}
	
		
	
	.CgtooltipLabel
	
	{
	
		  
	
	  font-size: 11px;
	
		
	
	}
	
		
	
	.ButtonIconic
	
	{
	
		  
	
	  background-color: #969696;
	
	  font-family: arial;
	
	  font-size: 11px;
	
	}
	
		
	
	.ButtonIconicLabel
	
	{
	
		  
	
	  font-size: 11px;
	
		
	
	}
	
		
	
	.Cgitem
	
	{
	
		  
	
	  background-color: white;
	
	  font-family: arial;
	
	  font-size: 11px;
	
	  color: #000066;
	
	}
	
		
	
	.CgitemLabel
	
	{
	
		  
	
	  font-size: 11px;
	
		
	
	}
	
		
	
	.CgblockScrollBar
	
	{
	
		  
	
	  background-color: #969696;
	
	  font-family: arial;
	
	  font-size: 11px;
	
	  color: white;
	
	}
	
		
	
	.CgblockScrollBarLabel
	
	{
	
		  
	
	  font-size: 11px;
	
		
	
	}
	
		
	
	.Cgprompt
	
	{
	
		  
	
	  background-color: #969696;
	
	  font-family: arial;
	
	  font-size: 11px;
	
	  color: #000066;
	
	}
	
		
	
	.CgpromptLabel
	
	{
	
		  
	
	  font-size: 11px;
	
		
	
	}
	
		
	
	.CgdisplayItem
	
	{
	
		  
	
	  background-color: white;
	
	  font-family: arial;
	
	  font-size: 11px;
	
	  color: #000066;
	
	}
	
		
	
	.CgdisplayItemLabel
	
	{
	
		  
	
	  font-size: 11px;
	
		
	
	}
	
		
	
	.Cgtitle
	
	{
	
		  
	
	  background-color: #969696;
	
	  font-family: arial;
	
	  font-size: 15px;
	
	  color: #000066;
	
	}
	
		
	
	.CgtitleLabel
	
	{
	
		  
	
	  font-size: 11px;
	
		
	
	}
	
		
	
	.CgradioTitle
	
	{
	
		  
	
	  background-color: #969696;
	
	  font-family: arial;
	
	  font-size: 11px;
	
	}
	
		
	
	.CgradioTitleLabel
	
	{
	
		  
	
	  font-size: 11px;
	
		
	
	}
	
		
	
	.CggroupTitle
	
	{
	
		  
	
	  background-color: #969696;
	
	  font-family: arial;
	
	  font-size: 11px;
	
	  color: #000066;
	
	}
	
		
	
	.CggroupTitleLabel
	
	{
	
		  
	
	  font-size: 11px;
	
		
	
	}
	
		
	
	.CgpushButton
	
	{
	
		  
	
	  background-color: #969696;
	
	  font-family: arial;
	
	  font-size: 11px;
	
	  color: white;
	
	}
	
		
	
	.CgpushButtonLabel
	
	{
	
		  
	
	  font-size: 11px;
	
		
	
	}
	
		
	
	.Cgcanvas
	
	{
	
		  
	
	  background-color: #969696;
	
	  font-family: arial;
	
	  font-size: 11px;
	
	}
	
		
	
	.CgcanvasLabel
	
	{
	
		  
	
	  font-size: 11px;
	
		
	
	}
	
		
	
	.CgmandatoryRadioButton
	
	{
	
		  
	
	  background-color: #969696;
	
	  font-family: arial;
	
	  font-size: 11px;
	
	}
	
		
	
	.CgmandatoryRadioButtonLabel
	
	{
	
		  
	
	  font-size: 11px;
	
		
	
	}
	
		
	
	.CgoptionalRadioButton
	
	{
	
		  
	
	  background-color: #969696;
	
	  font-family: arial;
	
	  font-size: 11px;
	
	}
	
		
	
	.CgoptionalRadioButtonLabel
	
	{
	
		  
	
	  font-size: 11px;
	
		
	
	}
	
		
	
	.CgdisplayRadioButton
	
	{
	
		  
	
	  background-color: #969696;
	
	  font-family: arial;
	
	  font-size: 11px;
	
	}
	
		
	
	.CgdisplayRadioButtonLabel
	
	{
	
		  
	
	  font-size: 11px;
	
		
	
	}
	
		
	
	.CgmandatoryCheckBox
	
	{
	
		  
	
	  background-color: #969696;
	
	  font-family: arial;
	
	  font-size: 11px;
	
	}
	
		
	
	.CgmandatoryCheckBoxLabel
	
	{
	
		  
	
	  font-size: 11px;
	
		
	
	}
	
		
	
	.CgoptionalCheckBox
	
	{
	
		  
	
	  background-color: #969696;
	
	  font-family: arial;
	
	  font-size: 11px;
	
	}
	
		
	
	.CgoptionalCheckBoxLabel
	
	{
	
		  
	
	  font-size: 11px;
	
		
	
	}
	
		
	
	.CgdisplayCheckBox
	
	{
	
		  
	
	  background-color: #969696;
	
	  font-family: arial;
	
	  font-size: 11px;
	
	}
	
		
	
	.CgdisplayCheckBoxLabel
	
	{
	
		  
	
	  font-size: 11px;
	
		
	
	}
	
		
	
	.CgotherRecord
	
	{
	
		  
	
	  background-color: yellow;
	
	  font-family: arial;
	
	  font-size: 11px;
	
	}
	
		
	
	.CgotherRecordLabel
	
	{
	
		  
	
	  font-size: 11px;
	
		
	
	}
	
		
	
	.CgcurrentRecord
	
	{
	
		  
	
	  background-color: yellow;
	
	  font-family: arial;
	
	  font-size: 11px;
	
	}
	
		
	
	.CgcurrentRecordLabel
	
	{
	
		  
	
	  font-size: 11px;
	
		
	
	}
	
		
}
